h2,h3,h4{margin:0}
h4{font-size:17px;}
p{margin:0}
span{height:26px;}

.subNav{height:51px;background:#5f5f5f;letter-spacing: 2px;}
.subNav ol{list-style: none;margin-bottom:0;}
ol li{height:51px;float:left;}
ol li a{display:inline-block;line-height:51px;color:#fff;font-size:16px;}
ol li a:hover{color:#FFF}
ol li img{margin:0 15px;}

.main{letter-spacing: 2px;}
.main  h3{padding:5px 0;margin:20px 0 0 0;border-bottom: 1px solid #b0b0b0;position: relative}
.main  h3:before{content:"";width:130px;height:2px;background: #009394;position:absolute;bottom:-2px;}