<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>人才培养</title>
  <!--  <link rel="stylesheet" href="css/bootstrap.min.css">-->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/subStyle.css">
    <link rel="stylesheet" href="css/sidebar.css">

    <script src="js/jquery-3.1.0.min.js"></script>
    <script src="js/sidebar.js"></script>
    <script src="js/paging.js"></script>

   <!-- <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="fillters/pageFilters.js"></script>-->
</head>
<body>
<header>
    <div class="inner clearfix">
        <div class="headNav floatLeft">
            <ul>
                <li><a href="#">学生</a></li>
                <li><a href="#">教职工</a></li>
                <li><a href="#">联系我们</a></li>
                <li class="mrZero"><a href="#">设为主页</a></li>
            </ul>
        </div>
        <div class="search floatRight">
                <div class="searchBox floatLeft">
                    <input class="floatLeft" type="text" value="输入需要搜索的内容..." onfocus="if(value =='输入需要搜索的内容...'){value =''}"  onblur="if (value ==''){value='输入需要搜索的内容...'}">
                    <button class="floatLeft">
                        <img src="images/search_03.jpg" alt="">
                    </button>
                </div>
            <p class="floatLeft">ENGLISH</p>
        </div>
    </div>
</header>
<div class="titleImg">
    <img src="images/title.png" alt="">
</div>

<div class="navBar">
    <div class="inner">
        <ul class="nav clearfix">
            <li><a href="index.html">学校概况</a>
                <div class="learnGK second">
                    <ul class="secondNav">
                        <li><a href="#">学部简介</a></li>
                        <li><a href="#">领导团队</a></li>
                        <li><a href="#">职能部门</a></li>
                        <li><a href="#">相关机构</a></li>
                        <li><a href="#">学部荣誉</a></li>
                        <li><a href="#">历任领导</a></li>
                        <li><a href="#">联系我们</a></li>
                    </ul>
                    <div class="secondbox">
                        <div class="learnContact clearfix">
                            <div class="learn floatLeft">
                                <h3><a href="#">学部简介</a></h3>
                                <div class="pic ">
                                    <img src="images/xiala1_03.jpg" alt="">
                                    <div class="smallbig">
                                        <div class="bg">
                                        </div>
                                        <div class="word">
                                            <p>武汉大学医学部（原湖北医科大学）创办于1943年，是湖北省唯一创建于中华人民共和国
                                                成立之前并延存发展的省属重点高等学校，也是中国高等医学院校中的老校（民国时期的22所医科院校）之一。
                                            </p>
                                            <div class="xxbtn">
                                                <a href="#">详细>></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="contact floatRight">
                                <h3><a href="#">联系我们</a></h3>
                                <div class="pic">
                                    <img src="images/xiala11_03.jpg" alt="">
                                    <p>地址：湖北省武汉市武昌区东湖路115号<br>电话：027-68758689</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li><a href="#">师资队伍</a>
                <div class="szGK second">
                    <ul class="secondNav">
                        <li><a href="#">师资概况</a></li>
                        <li><a href="#">通告公知</a></li>
                    </ul>
                    <div class="secondbox">
                        <div class="sGtG clearfix">
                            <div class="sG floatLeft">
                                <h3><a href="#">学部简介</a></h3>
                                <div class="pic ">
                                    <img src="images/sz_03.jpg" alt="">
                                </div>
                                <div class="sGcontent">
                                    <ul>
                                        <li><h3>中国科学院院士：<p>邓子新、舒红兵 </p></h3></li>
                                        <li><h3>国际级教学名师：<p>樊明文、边专 </p></h3></li>
                                        <li><h3>国家杰出青年基金获得者：<p>郭德银、章晓联、万芪、李红良...</p></h3></li>
                                    </ul>
                                    <span class="clearfix" ><a class="floatRight" href="#">详细>></a></span>
                                </div>
                            </div>
                            <div class="tG floatRight">
                                <h3><a href="#">通告公知</a></h3>
                                <div class="tGcontent">
                                    <h4><a href="#">2017中美医学教育研讨会征文通知</a></h4>
                                    <p>湖北省武汉市日月潭热一会让他一人体会与如风达规划图更符合法规让广大武昌区东湖路115号湖北省武汉市日月潭热一会让他一人体会与如风达
                                        规划图更符合法规让广大武昌区东湖路115号湖北省武汉市日月潭热一会让他一人体会与如风达规划图更符合法规让广大武昌区东湖路115号日菲亚特
                                        发个电话二锅头他的人格...
                                    </p>
                                    <span class="clearfix"> <a class="floatRight" href="#">详细>></a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li><a href="#">人才培养</a>
                <div class="rcPY second">
                    <ul class="secondNav">
                        <li><a href="#">本科生教育</a></li>
                        <li><a href="#">研究生教育</a></li>
                        <li><a href="#">留学生教育</a></li>
                    </ul>
                    <div class="secondbox">
                        <div class="talper">
                            <div class="clearfix">
                                <div class="underGradnt floatLeft">
                                    <h3><a href="#">本科生教育</a></h3>
                                    <div class="content">
                                        <p>关于2016年度临床医学各专业“CPPT2”联考的通知...</p>
                                        <p>关于2016年度临床医学各专业“CPPT2”联考的通知...</p>
                                        <p>关于2016年度临床医学各专业“CPPT2”联考的通知...</p>
                                        <p>关于2016年度临床医学各专业“CPPT2”联考的通知...</p>
                                        <p>关于2016学各专业“CPPT2”联考的通知... </p>
                                    </div>
                                    <span class="clearfix"><a class="floatRight" href="#">详情>></a></span>
                                </div>
                                <div class="Gradnt floatLeft">
                                    <h3><a href="#">研究生教育</a></h3>
                                    <div class="content">
                                        <p>关于2016年度临床医学各专业...</p>
                                        <p>关于2016年度临床医学各专业...</p>
                                        <p>关于2016年度临床医学各专业...</p>
                                        <p>关于级七年制临床医制临法试验...</p>
                                    </div>
                                    <div class="pic clearfix">
                                        <img class="floatLeft" src="images/talper1_03.jpg" alt="">
                                        <span class="floatRight"><a href="#">更多>></a></span>
                                    </div>
                                </div>
                                <div class="stuAboard floatLeft">
                                    <h3><a href="#">留学生教育</a></h3>
                                    <div class="content">
                                        <p>关于2016年度临床医学各专业...</p>
                                        <p>关于2016年度临床医学各专业...</p>
                                        <p>关于2016年度临床医学各专业...</p>
                                        <p>关于级七年制临床医学中法试验...</p>
                                    </div>
                                    <div class="pic clearfix">
                                        <img class="floatLeft" src="images/talper2_03.jpg" alt="">
                                        <span class="floatRight"><a href="#">更多>></a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li><a href="#">学科与科研</a>
                <div class="xkKY second">
                    <ul class="secondNav">
                        <li><a href="#">学科建设</a></li>
                        <li><a href="#">研究机构</a></li>
                        <li><a href="#">科研人员和团队</a></li>
                    </ul>
                    <div class="secondbox">
                        <div class="scientific">
                            <div class="clearfix">
                                <div class="construct floatLeft">
                                    <h3><a href="#">学科建设</a></h3>
                                    <div class="picEssay clearfix">
                                        <div class="picture floatLeft">
                                            <img src="images/scientific.jpg" alt="">
                                        </div>
                                        <div class="article floatRight">
                                            <h4><a href="#">中华医学会外科学分会...</a></h4>
                                            <p>拉开距离就开始放开了几个好看的符合公开东方航空广阔的就是离开法国进口两...</p>
                                        </div>
                                    </div>
                                    <ul>
                                        <li><a href="#">分子生物学与遗传学首次进入ESI全球年排名前1%...</a></li>
                                        <li><a href="#">国际纳米权威期刊发表赵怡芳研究团队相关成果...</a></li>
                                        <li><a href="#">教师与医师“牵手” 基础与临床“相亲”...</a></li>
                                        <li><a href="#">李红良获药明康德生命化学研究奖...</a></li>
                                    </ul>
                                    <span class="clearfix"><a class="floatRight" href="#">详情>></a></span>
                                </div>
                                <div class="organization floatLeft">
                                    <h3><a href="#">研究机构</a></h3>
                                    <div class="content">
                                        <h4><a href="#">口腔生物医学教育部重点实验室</a></h4>
                                        <p>武汉大学口腔医学院涵盖2个二级学科，即口腔临床医学和口腔基础医学；1个国家重点学科，即口腔基础医学；同时具有一级学科博士学位授予权。早在1979年获得硕士学位授予权，1990年获得博士学位授予权，2000年成为口腔医学博士后科研流动站。2002年口腔临床医学整体进入“211”工程二期建设项目。武汉大学口腔临床医学已经成为全国口腔医学专业教学、科研和临床实习的重要基地。
                                        </p>
                                        <span class="clearfix"><a class="floatRight" href="#">详情>></a></span>
                                    </div>
                                </div>
                                <div class="team floatLeft">
                                    <h3><a href="#">科研人员和团队</a></h3>
                                    <ul>
                                        <li>基础医学</li>
                                        <li>药学</li>
                                        <li>临床医学</li>
                                        <li>口腔医学</li>
                                        <li>生物学</li>
                                        <li style="margin-left: 40px">公共卫生与预防医学</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li><a href="#">合作交流</a>
                <div class="hzJL second">
                    <ul class="secondNav">
                        <li><a href="#">合作交流</a></li>
                        <li><a href="#">信息发布</a></li>
                    </ul>
                    <div class="secondbox">
                        <div class="hZxX clearfix">
                            <div class="hZ floatLeft">
                                <h3><a href="#">合作交流</a></h3>
                                <div class="pic floatLeft">
                                    <img src="images/hezuo_03.jpg" alt="">
                                </div>
                                <div class="hZcontent floatLeft">
                                    <h4><a href="#">日本福岛医科大学来访</a></h4>
                                    <p>2月23日，日本福岛医科大学国际交流处处长、免疫学教授关根英治，学科与课程委员会主任、神经科学系教授永福智志访问武汉大学医学部，随访的3名福岛医科大学学生御代麟太郎、汤田...
                                    </p>
                                    <span class="clearfix"><a class="floatRight" href="#">更多>></a></span>
                                </div>
                            </div>
                            <div class="jL floatRight">
                                <h3><a href="#">合作交流</a></h3>
                                <div class="jLcontent">
                                    <h4><a href="#">2017中美医学教育研讨会征文通知7研文通知7研讨会7中美讨会7中美医学教育研讨会7中美医学教育研讨会</a></h4>
                                    <p>湖北省武汉市日月潭热一会让他一人体会与如风达规划图更符合法规让广大武昌区东湖路115号湖北省武汉市日月潭热一会让他一人体会与如风达规划图更符合法规让广大武昌区东湖路115号湖北省武汉市日月潭热一会让他一人体会与如风达规划图更符合法规让广大武昌区东湖路115号日菲亚特发个电话二锅头他的人格...
                                    </p>
                                    <span class="clearfix"> <a class="floatRight" href="#">详细>></a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li><a href="#">招生就业</a>
                <div class="zsJL second">
                    <ul class="secondNav">
                        <li><a href="#">本科生招生</a></li>
                        <li><a href="#">研究生招生</a></li>
                        <li><a href="#">继续教育招生</a></li>
                        <li><a href="#">就业信息</a></li>
                    </ul>
                    <div class="secondbox">
                        <div class="zs">
                            <div class="clearfix">
                                <div class="bkzs floatLeft">
                                    <h3><a href="#">本科生招生</a></h3>
                                    <div class="content">
                                        <h4><a href="#">武汉大学全日制普通本科招生章程</a></h4>
                                        <p>第一条 根据《中华人民共和国教育法》、《中华人民共和国高等教育法》等相关法律和教育部有关规定，为更好地贯彻教育部“依法治招”的要求，深入实施高校招生“阳光工程”，规范学校全日制普通本科招生工作（以下简称“招生工作”），保证招生工作的顺利进行，特制订本章程。
                                            <br>
                                            &nbsp; &nbsp;&nbsp;&nbsp;第二条 本章程所涵盖的主要招生类型有：1．参加普通高等学校招生入学考试的学生...</p>
                                        <span class="clearfix"><a class="floatRight" href="#">更多>></a></span>
                                    </div>
                                </div>
                                <div class="yjzs floatLeft">
                                    <h3><a href="#">研究生招生</a></h3>
                                    <div class="content">
                                        <h4><a href="#">武汉大学研究生招生目录</a></h4>
                                        <p>我校拥有236个博士专业、342个硕士专业、31个专业学位类别、22个工程领域，其中理论经济学、生物学、水利工程、测绘科学与技术、图书馆、情报与档案管理为一级学科国家重点学科。目录中标有“◆”的为一级学科国家重点学科，标有“★”的为二级学科国家重点学科，标有“▲”的为二级国家重点培育学科。具有招生专业以下半年公布的招生简章和专业目录为准。
                                        </p>
                                        <span  class="clearfix"><a class="floatRight" href="#">更多>></a></span>
                                    </div>
                                </div>
                                <div class="jxzs floatLeft">
                                    <h3><a href="#">继续教育招生</a></h3>
                                    <div class="content">
                                        <h4><a href="#">2015年上半年医学部在职人员申请学位专业课和专业外语考试安排</a></h4>
                                        <h4><a href="#">武汉大学医学部2015年上半年专业课、专业外语考试安排武汉大学医学部2015年上半年专业课、专业外语考试安排</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="mrZero"><a href="#">校友之窗</a>
                <div class="xyZC second">
                    <ul class="secondNav">
                        <li><a href="#">校友活动</a></li>
                        <li><a href="#">校友风采</a></li>
                        <li><a href="#">校友档案</a></li>
                        <li><a href="#">校友捐助</a></li>
                    </ul>
                    <div class="secondbox">
                        <div class="xiaoyou">
                            <div class="clearfix">
                                <div class="active border floatLeft">
                                    <h3><a href="#">校友活动</a></h3>
                                    <div class="content">
                                        <h4><a href="#">国庆节期间多届海内<br>外校友返校聚会</a></h4>
                                        <p>10月1-4日，医学部1981级、1991级、1996级本科,1988级研究生和管理系1993级等海内外校友740多人先后回到母校团聚。武汉大学常务副校长、医...</p>
                                        <div class="pic">
                                            <img src="images/xiaoyou_06.jpg" alt="">
                                            <img src="images/xiaoyou_08.jpg" alt="">
                                        </div>
                                        <span class="clearfix"><a class="floatRight" href="#">更多>></a></span>
                                    </div>
                                </div>
                                <div class="elegant border floatLeft">
                                    <h3><a href="#">校友风采</a></h3>
                                    <div class="content">
                                        <h4><a href="#">校友孟祥金入选美国科<br>学院院士</a></h4>
                                        <p>5月4日，美国科学院官方网页公布了2016年度新增院士名单，医学部毕业的校友、美国弗吉尼亚理工大学生物医学与病理系孟祥金教授入选...
                                        </p>
                                        <img src="images/xiaoyou_10.jpg" alt="">
                                        <span class="clearfix"><a class="floatRight" href="#">更多>></a></span>
                                    </div>
                                </div>
                                <div class="files border floatLeft">
                                    <h3><a href="#">校友档案</a></h3>
                                    <div class="content">
                                        <h4><a href="#">武汉大学医学部1986<br>级合影</a></h4>
                                        <div class="pic">
                                            <img src="images/xiaoyou_03.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="offer floatLeft">
                                    <h3><a href="#">校友捐助</a></h3>
                                    <div class="content">
                                        <h4><a href="#">2016年“向近敏教育基金”<br> 奖、“廖康雄奖学金”、<br>“魏启赞励学金”颁发</a></h4>
                                        <p>9月13日，医学部2016年迎新大会在医学部体育馆隆重举行。医学部党工委副书记蒋明宣读“向近敏教育基金奖”、“廖康雄奖学金”和“魏启赞励学金”获奖名单。“向近敏教育基金”代表袁光明校友、“廖康雄奖学金”...
                                        </p>
                                        <span class="clearfix"><a class="floatRight" href="#">更多>></a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="subNav">
    <div class="inner">
        <ol class="clearfix">
            <li class="clearfix"><a class="floatLeft" href="#">武汉大学医学部</a><img class="floatLeft" src="images/neiye_03.jpg" alt=""></li>
            <li class="clearfix"><a class="floatLeft" href="#">人才培养</a><img class="floatLeft" src="images/neiye_03.jpg" alt=""></li>
        </ol>
    </div>
</div>

<div class="main">
    <div class="inner">
        <h3>人才培养</h3>
        <div class="content clearfix">
            <div class="floatLeft sidebar">
                <ul class="firstUl">
                   <!-- <li class="leftNav"><a href="#">人才培养</a></li>-->
                    <li class="leftNav"><a href="#">本科生教育</a>
                        <ul class="sub">
                            <li><a href="notice.html">通知公告</a></li>
                            <li><a href="#">培养方案</a></li>
                            <li><a href="#">规章制度</a></li>
                            <li><a href="#">医学在线考试</a></li>
                            <li><a href="#">下载中心</a></li>
                        </ul>
                    </li>
                    <li class="leftNav"><a href="#">研究生教育</a>
                        <ul class="sub">
                            <li><a href="#">通知公告</a></li>
                            <li><a href="#">培养方案</a></li>
                            <li><a href="#">规章制度</a></li>
                            <li><a href="#">下载中心</a></li>
                        </ul>
                    </li>
                    <li class="leftNav"><a href="#">留学生教育</a>
                        <ul class="sub">
                            <li><a href="#">通知公告</a></li>
                            <li><a href="#">培养方案</a></li>
                            <li><a href="#">规章制度</a></li>
                            <li><a href="#">下载中心</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

                <div id="newsList" class="floatRight">
                    <h4> >>可变化(1,2,3,4或其子条目)</h4>

                    <div class="text-center">
                        <div class="page text-center clearfix">

                        </div>
                    </div>
                </div>
            <!--
              <div class="floatRight list">
                   <h4> >>可变化(1,2,3,4或其子条目)</h4>
                   <ul>
                       <li class="clearfix" ng-repeat="item in items|orderBy:'-date '|pageFilter:pageNum:pageSize"> &lt;!&ndash;|pageFilter:pageNum:pageSize&ndash;&gt;
                           <a href="{{item.url}}.html">
                               <div class="info floatLeft">
                                   {{item.info}}
                               </div>
                               <div class="date floatRight">
                                   {{item.date}}
                               </div>
                           </a>
                       </li>
                   </ul>
                  <div class="text-center">
                       <div class="page text-center clearfix">
                             <button  class="floatLeft btn" ng-click="selectPage(1)" ng-disabled="pageNum==1">首页</button>
                             <button  class="floatLeft pre btn" ng-click="selectPage(pageNum-1)" ng-disabled="pageNum==1">上一页</button>
                             <div class="floatLeft ">
                                   <a class="btn"
                                   ng-click="selectPage(number)"
                                     ng-class="number==pageNum?'ching':''"
                                     ng-repeat="number in items | pageNavFilter:pageSize">
                                     {{number}}
                                 </a>
                             </div>
                             <button  class="floatLeft next btn" ng-click="selectPage(pageNum+1)" ng-disabled="pageNum==count">下一页</button>
                             <button  class="floatLeft btn" ng-click="selectPage(count)" ng-disabled="pageNum==count">尾页</button>
                             <div  class="floatLeft  go">
                                 <input class="floatLeft" type="text" ng-model="goNum">
                                 <button class="btn" ng-click="go()" ng-disabled="goNum>count">跳转</button>
                             </div>
                      </div>
                  </div>
              </div>-->
        </div>
    </div>
</div>

<footer class="footer">
    <div class="top">
        <div class="inner">
            <ul class="clearfix">
                <li>
                    <dl>
                        <dt>医学部</dt>
                        <dd><a href="#">学部概况</a></dd>
                        <dd><a href="#">领导信箱</a></dd>
                        <dd><a href="#">学生资助</a></dd>
                        <dd><a href="#">专业认证网站</a></dd>
                        <dd><a href="#">管理入口</a></dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>基金奖励</dt>
                        <dd><a href="#">朱裕璧医学奖</a></dd>
                        <dd><a href="#">向近敏教育基金会</a></dd>
                        <dd><a href="#">廖康雄奖学金</a></dd>
                        <dd><a href="#">杰出医学生基金</a></dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>所辖单位</dt>
                        <dd><a href="#">基础医学院</a></dd>
                        <dd><a href="#">第一临床学院（人民医院）</a></dd>
                        <dd><a href="#">第二临床医院（中南医院）</a></dd>
                        <dd><a href="#">口腔医学院</a></dd>
                        <dd><a href="#">药学院</a></dd>
                    </dl>
                </li>
                <li class="mrZero">
                    <dl>
                        <dt class="noBorder">&nbsp;</dt>
                        <dd><a href="#">公共卫生学院</a></dd>
                        <dd><a href="#">护理学院</a></dd>
                        <dd><a href="#">武汉大学医学研究院</a></dd>
                        <dd><a href="#">职业技术学院</a></dd>
                        <dd><a href="#">动物实验中心和ABSL-3实验室</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    <div class="down">
        <img src="images/final_07.jpg" alt="">
        <p>Copyright © Medical School,Whu 2004 All Rights Reserved<br>地址：湖北省武汉市武昌区东湖路115号  邮编：430072 <br>电话：027-68758689 邮箱：yxb@whu.edu.cn</p>
    </div>
</footer>
</body>
</html>